body {
  width: 1900px;
  margin: 0 auto;
  padding: 0;
  font-family: "Merriweather", Arial, serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #3c3c3c;
  background-color: #eeefef;
  background-image: url(../img/veggie-background.jpg);
  background-repeat: no-repeat;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.header {
  position: relative;
}

.header::after {
  position: absolute;
  content: "";
  width: 253px;
  height: 33px;
  bottom: -52px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  background-image: url(../img/header-decoration.png);
  background-size: 100%;
}

.site-header {
  padding: 67px 145px;
}

.main-navigation__list {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-navigation__item {
  margin-right: 10px;
}

.main-navigation__link {
  padding: 25px;  
  padding-top: 13px;
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #3c3c3c;
  text-decoration: none;
}

.main-navigation__link:hover,
.main-navigation__link:active,
.main-navigation__link:focus {
  box-shadow: #000 0 0 0px 1px;
}

.main-header {
  max-width: 545px;
  padding: 0px 212px;
  margin: 0;
  margin-left: auto;
  margin-right: 0;
  margin-top: 252px;
  margin-bottom: 445px;
  font-size: 40px;
  line-height: 55px;
  font-weight: 300;
  text-align: center;
}

.home {
  padding: 0;
  padding-top: 65px;
  padding-bottom: 85px;
  background-color: #fbce11;
  background-image: url(../img/yellow-background.jpg);
}

.home__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  padding-left: 205px;
  padding-right: 205px;
  margin: 0;
  list-style: none;
}

.home__item {
  max-width: 380px;
  text-align: center;
}

.home__item-icon {
  margin-bottom: 35px;
}

.home__item-header {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.home__item-text {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
}

.specials {
  padding-left: 178px;
  padding-right: 178px;
  padding-top: 68px;
  padding-bottom: 105px;
  background-color: #fff;
}

.specials__header {
  padding: 0;
  margin: 0;
  margin-bottom: 110px;
  font-size: 40px;
  line-height: 55px;
  font-weight: 300;
  text-align: center;
}

.specials__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}

.specials__item {
  width: 248px;
  text-align: center;
  background-color: #f8f8f8;
}

.text {
  padding-top: 66px;
}

.specials__item-image {
  width: 100%;
  height: auto;
}

.specials__item-header {
  padding: 0;
  margin: 0;
  margin-bottom: 27px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.specials__item-text {
  padding: 0;
  margin: 0;
  margin-bottom: 13px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

.specials__item-cost {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.about {
  padding-left: 195px;
  padding-right: 195px;
  padding-top: 235px;
  padding-bottom: 365px;
  background-color: #fff;
  background-image: url(../img/green-beams-background.png);
  background-repeat: no-repeat;
  background-position: right center;
  text-align: center;
}

.about-container {
  width: 620px;	  
}
.about__header {
  padding: 0;
  margin: 0;
  margin-bottom: 95px;
  font-size: 40px;
  line-height: 55px;
  font-weight: 300;
}

.about__text {
  padding: 0;
  margin: 0;
  font-size: 30px;
  line-height: 54px;
  font-weight: 300;
}

.menu {
  padding-left: 201px;
  padding-right: 201px;
  padding-top: 56px;
  padding-bottom: 62px;
  background-color: #fff;
}

.menu__header {
  padding: 0;
  margin: 0;
  margin-bottom: 104px;
  font-size: 40px;
  line-height: 55px;
  font-weight: 300;
  text-align: center;
}

.menu-navigation {
  margin-bottom: 63px;
}

.menu-navigation__list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu-navigation__item {
  margin-right: 13px;
}

.menu-navigation__item:last-child {
  margin-right: 0;
}

.menu-navigation__link {
  display: block;
  padding: 13px 23px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #3c3c3c;
  text-decoration: none;
}

.menu-navigation__link:hover,
.menu-navigation__link:active,
.menu-navigation__link:focus {
  box-shadow: #000 0 0 0px 1px;
}

.menu-tables-container {
  padding: 0;	
  display: flex;
  justify-content: space-between;
}

.menu-table__data {
  width: 604px;
  padding: 0;
  padding-top: 13px;
  padding-bottom: 22px;
}

.table-cost {
  width: 35px;
  padding-top: 15px;
  vertical-align: top;
}

.menu-table__dish {
  margin: 0;
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  text-transform: uppercase;
  background-image: url(../img/point.svg);
  background-repeat: repeat-x;
  background-position: left 18px;
}

.menu-table__dish-container {
  padding-right: 4px;
  background-color: white;
}

.menu-table__сompound {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  font-style: italic;
  text-transform: lowercase;
}

.menu-table__cost {
  width: 35px;
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
}

.contact {
  padding-left: 205px;
  padding-right: 205px;
  padding-top: 60px;
  padding-bottom: 34px;
  background-color: #eeefef;
  background-image: url(../img/plum-background.jpg);
  background-size: 100% auto;
}

.contact-container {
  width: 573px;
  margin-left: auto;
}

.contact__header {
  margin: 0;
  margin-bottom: 110px;
  font-size: 40px;
  line-height: 55px;
  font-weight: 300;
  text-align: center;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 96px;
}

.contact-info-container {
  display: flex;
  flex-direction: column;
  width: 215px;
}

.contact-form {
  margin-bottom: 193px;
}

.contact-info__header {
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
}

.contact-info__text {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.contact-form__header {
  margin: 0;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
}

.contact-form-container {
  display: flex;
  justify-content: space-between;
}

.contact-form__label {
  margin-bottom: 64px;
}

.contact-form__input {
  width: 217px;
  padding: 10px 20px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #000;
}

.contact-form__input::-webkit-input-placeholder {
  color: #3c3c3c;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  font-style: italic;
}
.contact-form__input:-ms-input-placeholder {
  color: #3c3c3c;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  font-style: italic;
}
.contact-form__input::-ms-input-placeholder {
  color: #3c3c3c;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  font-style: italic;
}
.contact-form__input::placeholder {
  color: #3c3c3c;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  font-style: italic;
}

.message {
  width: 533px;
}

.contact-form__send-button {
  display: block;
  margin: 0 auto;
  margin-top: 53px;
  padding: 13px 27px;
  font-size: 19px;
  line-height: 22px;
  font-weight: 400;
  color: #3c3c3c;
  border: 1px solid #3c3c3c;
  background-color: #eeefef;
  text-align: center;
}

.contact__list {
  display: flex;
  justify-content: flex-end;
  padding: 0px 4px;
  margin: 0;
  list-style: none;
}

.social-media__item {
  margin-left: 16px;
}

.social-media__link {
  display: block;
  width: 48px;
  height: 50px;
  background-color: transparent;
  background-repeat: no-repeat;
  box-shadow: #000 0 0 0px 1px;
}

.fb-link {
  background-image: url(../img/fb-icon.png);
}

.ig-link {
  background-image: url(../img/ig-icon.png)
}